.grafico-container {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

canvas {
  max-width: 700px;
}

#logo {
  margin-top: 15px;
  width: 100%;
}

.carteira-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.grafico {
  width: 350px;
  height: 350px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 15px;
  width: 250px;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: #f8f9fa;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.nome {
  font-weight: bold;
  color: #333;
}

.valor,
.percentual {
  font-size: 0.9rem;
  color: #555;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  color: gray;
}

.grafico-anual-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.grafico {
  width: 500px;
  height: 400px;
}

.tabela table {
  border-collapse: collapse;
  width: 300px;
}

.tabela th, .tabela td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: right;
}

.tabela th {
  background-color: #f4f4f4;
}

.positivo {
  color: green;
  font-weight: 600;
}

.negativo {
  color: red;
  font-weight: 600;
}
