.example-container {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 241, 241);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  margin-top: 10px;
}

p {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.example-sidenav {
  background-color: #d1d0d0;
  padding: 20px;
}

button {
  max-width: 100%;
}

img {
  border-radius: 50px;
}

.profile {
  margin-left: 35px;
  width: 100px;
  border: 50%;
}

.mouseOver {
  cursor: pointer;
}
