<h1>Contate nossa equipe</h1>

<form action="https://formsubmit.co/rodrigoweber97@hotmail.com" method="post" class="form">

	<label for="name">Nome</label>
	<input type="text" id="name" name="name" required placeholder="Nome">
	<label for="email">E-mail</label>
	<input type="email" id="email" name="email" required placeholder="E-mail">
	<label for="message">Mensagem</label>
	<textarea name="message" id="message" cols="30" rows="10" required placeholder="Sua mensagem aqui"></textarea>
	<button type="submit">Enviar</button>

</form>
