<table class="styled-table teste">
  <thead>
    <tr>
      <th>Segunda-feira</th>
      <th>Terça-feira</th>
      <th>Quarta-feira</th>
      <th>Quinta-feira</th>
      <th>Sexta-feira</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr class="active-row">
        <td>
          <li>Suplino inclinado com halter - 5x</li>
          <li>Crucifixo - 4x</li>
          <li>Crossover - 4x</li>
          <li>Desenvolvimento - 4x</li>
          <li>Elevação lateral - 4x</li>
          <li>Abdômen - 3 x 3 exercícios</li>
        </td>
        <td>
          <li>Barra fixa ou máquina - 5x</li>
          <li>Remada curvada - 4x</li>
          <li>Remada na máquina neutra ou aberta - 4x</li>
          <li>Desenvolvimento - 4x</li>
          <li>Serrote - 4x</li>
          <li>Posterior ombro - 4x</li>
          <li>Trapézio - 4x</li>
        </td>
        <td>
          <li>Agachamento ou passada -5x</li>
          <li>Extensor ou hack - 4x</li>
          <li>Leg Press - 4x</li>
          <li>Posterior perna - 4x</li>
          <li>Panturrilha - 4x</li>
          <li>Abdômen - 3 x 3 exercícios</li>
        </td>
        <td>
          <li>Suplino reto - 5x</li>
          <li>Supino inclinado com halter - 4x</li>
          <li>Crossover - 4x</li>
          <li>Desenvolvimento ou elevação frontal - 4x</li>
          <li>Elevação lateral - 4x</li>
          <li>Posterior de ombro - 4x</li>
        </td>
        <td>
          <li>Tríceps polia reta- 5x</li>
          <li>Tríceps graviton - 4x</li>
          <li>Tríceps unilateral ou testa - 4x</li>
          <li>Bíceps corda - 4x</li>
          <li>Bíceps concentrado</li>
          <li>Bíceps martelado alternado - 4x</li>
          <li>Abdômen - 3 x 3 exercícios</li>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
