<table class="styled-table teste">
	<thead>
	  <tr>
		 <th>Nome</th>
		 <th>Idade</th>
		 <th>Sexo</th>
		 <th>Telefone</th>
		 <th>Altura</th>
		 <th>Peso</th>
		 <th>IMC</th>
	  </tr>
	</thead>
	<tbody >
		 <tr class="active-row" *ngFor="let user of users">
			<td>{{user.name}}</td>
			<td>{{user.age}}</td>
			<td>{{user.gender}}</td>
			<td>{{user.phone}}</td>
			<td>{{user.height}}</td>
			<td>{{user.weight}}</td>
			<td>{{user.weight / (user.height * user.height) | number : '1.2-2'}}</td>
		 </tr>
	</tbody>
 </table>
 
